:root {
  --primary: #00ba9f;
  --secondary: #006557;
  --white: #ffffff;
  --black: #000000;
  --beige: #f4f3ef;
  --background: #241f29;
  --background-two: #3a2f42;
}

#app {
  background-color: var(--background);
}

header {
  background-color: var(--background-two) !important;
}

.v-application a {
  text-decoration: none;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset, .theme--light.v-label, .theme--light.v-input input, .theme--light.v-input textarea, .theme--light.v-icon {
  color: var(--white) !important;
}

.toasted-container .toasted {
  top: 0px !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
  font-size: 19px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  height: 65px !important;
  transform: none !important;
}

.toasted-container.top-right {
  top: 5%;
  right: 1%;
}

.toasted.bubble.error {
  background: #f44336d7 !important;
}

@media only screen and (max-width: 600px) {
  .toasted-container .toasted {
    width: 350px !important;
    top: -15px !important;
    border-radius: 30px !important; 
  }
  .toasted-container.bottom-right {
    right: 0% !important;
    bottom: 2% !important;
  }
}